.add-user-container{
    width: inherit;
    position: relative;
    display: flex;
    flex: 1;
    align-items: baseline;
    padding-top:25px;
}
.contactForm { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.radio-button-sex{
  padding-bottom: 20px;
}
.radio-button-sex p{
  font-size: 16px;
  text-align: center;
}