.form-row {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  width: inherit;
  justify-content: center;
  margin-top: 5rem;
}
.form-column-size-2 {
  width: 400px;
  padding: 2rem;
  box-shadow: 0 2px 5px #a5a5a5;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.radio-buttons-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.form-gender-heading {
  text-align: center;
  color: #676767;
  margin-bottom: 1rem;
}
.avatar-container {
  margin: 0 auto;
  width: 80%;
  height: 70%;
}
.avatar-img {
  height: 240px;
  width: 320px;
}