.container{
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 1085px;
    padding-bottom: 40px;
}
@media(min-width: 1449px) {
    .container {
        width: 1450px;
    }
}
.users-heading {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color:rgb(144, 144, 144);
    font-family: roboto;
    border-bottom: 1px solid;
    margin: 2rem 4rem 4rem;
}
.users-heading h3 {
    margin: 0;
}
svg.add-person-icon path {
    fill: rgb(255, 255, 255);
}
.add-person-icon-container {
    height: 60px!important;
    width: 60px!important;
    background: #3cb9ff!important;
    border-radius: 50%;
    position: absolute!important;
    right: 2rem;
    bottom: 2rem;
    z-index: 999;
}
.material-paper {
    height: 375px!important;
}
.material-paper:hover {
    box-shadow: 0 2px 10px #94efff;
}
