.container{
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-shadow: 0 0 3px #adadad;
    width: 1085px;
}
@media(min-width: 1449px) {
    .container {
        width: 1450px;
    }
}
.users-heading {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.6rem;
    /* font-weight: ; */
    color:rgb(144, 144, 144);
    font-family: roboto;
    border-bottom: 1px solid;
    margin: 2rem 4rem 4rem;
}
.users-heading h3 {
    margin: 0;
}
.add-person-icon {
    height: 42px!important;
    width: 42px!important;
}
svg.add-person-icon path {
    fill: rgb(144, 144, 144);
}
.add-person-icon-container {
    height: 50px!important;
    width: 50px!important;
}
.add-person-icon-container:hover svg.add-person-icon path {
    fill: rgb(0, 188, 213);
}
