.report-container {
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  align-items: center;
}
.report-container-print {
  min-width: 1080px;
  height: 950px;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
}
.report-name {
  text-align: center;
  text-transform: uppercase;
  color: #484848;
  letter-spacing: 2px;
}
.report-user {  
  color: #484848;
  margin:0;
}
.no-right-border-report, .right-border-report {
  display: flex;
  flex-flow: column;
  padding: 1rem 0 0 1rem;
  height: 950.016px;
  width: 826.219px;
}
.right-border-report {
  border-right: 2px solid #c0c0c0;
  line-height: 2rem;
}
.report-row {
  display: flex;
  justify-content: space-between;
  color: #484848;
  margin-bottom: 1rem;
  border-bottom: 1px solid #c0c0c0;
}
.text-center {
  text-align: center;
}
.print-report-button {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  font-size: 1.2rem;
  width: 10rem;
  background: white;
  color: #878787;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  outline: none;
  align-self: center;
  box-sizing: border-box;
  transition: all .2s ease-out;
}
.print-report-button:hover {
  cursor: pointer;
  color: white;
  background: rgb(60, 185, 255);
  border: 1px solid rgb(60, 185, 255);
  transform: scale(1.1);
}
.report-row-no-line, .report-field {
  display: flex;
  flex-flow: row nowrap;
}
.report-row-no-line {
  margin-bottom: .31rem;
}
.report-row-no-line--no-margin {
  margin: 0;
}
.report-field {
  /* padding-right: 1rem; */
  width: 100%;
}
.report-field--end {
  justify-content: flex-end;
}
.report-text {  
  white-space: nowrap;
}
.report-text--right-padding {
  padding-right: 7rem
}
.floor-border{
  border-bottom: 1px solid #c0c0c0;
  width: inherit;
  text-align: center;
  font-weight: bold;
}
.floor-border--end {
  text-align: end;
}
.floor-border--start {
  text-align: start;
}
.floor-border--center {
  text-align: center;
}
.paraf-bottom {
  align-self: flex-end;
}
/* ///////////////////// LOADER ///////////////////// */
.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
/* ///////////////////// LOADER ///////////////////// */