@font-face {
  font-family: my-font;
  src: url('../../assets/fonts/PoiretOne-Regular.ttf');
}
body,html{
  overflow: hidden;
  height:100%;
  /* width:100%; */
  margin: 0 auto;
  /* max-width: 1366px; */
}

#root{
  height:100%;
  width:100%;
  overflow: hidden;
}

.App {
  height:100%;
  width:100%;
  overflow: hidden;
  text-align: center;
}

.classApp{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.containerApp{
  overflow: auto;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
}