.add-user-container{
    width: inherit;
    position: relative;
    display: flex;
    flex: 1;
    align-items: baseline;
}
.contactForm { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.radio-button-sex{
  padding-bottom: 20px;
}
.radio-button-sex p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 1rem;
}
.radio-button-sex svg {
  fill: rgb(23, 141, 244)!important;
}
.close-no-background {
  background-color: unset!important;
}