.container-about{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-shadow: 0 0 3px #adadad;
    width: 1450px;
}
/* @media(min-width: 1449px) {
    .container-about {
        width: 1450px;
    }
} */