.field{
    width: 100%;    
    overflow-y: auto;  
}
.form-newReport{
    overflow-x:hidden;
    overflow-y: auto; 
    display: flex;        
    flex-direction: column; 
    align-items: center;     
    position: relative;
    width: 100%;
}
.submit{
    width:300px;
    margin: 50px 0px 20px 0px;
    color: white!important;
}
#mapSearch{
    text-align: center;  
    margin-bottom: 10px;
    border-radius:7%;   
}
#mapDistance{
       text-align: center;  
       margin-bottom: 10px;
       border-radius:7%;     
}
.distance-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.location-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.distance-label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
p{
    font-size:18px;
    padding:3px;
    margin-bottom:0px;
    margin-top:0px;
}
.drop{
     width:405px;
     margin-bottom: 3rem;
     margin-top: 0px;
}
.dropItem{
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
}
.dates{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 3rem;
    box-shadow: 0 0 1px #a8a8a8;
}
.dates-collumn {
    height: auto;
    display: flex;
    flex-flow: column wrap;
    flex:1;
    align-items: center;
    padding: 1rem;
}
.protocol{
    justify-content: flex-start;
    width: 100%;
    margin-left:50px;
}
.cause-field {
    width: 80%!important;
    margin-bottom: -1rem;
}
.map-element{
  display:flex;
  flex-direction: column;
  width:80%;
}
.location-components{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.toggle-map-mod{
    margin-bottom:15px;
}
.add-destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal-vehicle-specs{
    margin-top:0px;
    display:flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: baseline;
}
#person-vehicle-specs-input1, #person-vehicle-specs-input2{
    text-align: center;  
    margin-bottom: 10px;
    border-radius:7%;     
}
.days-input {
    width: 100px!important;
}
.radio-group {
    width: 100%;
}
.radio-group-heading {
    width: 100%;
    text-align: start;
}
.pick-day {
    height: 72px;
}