.App-logo {
    animation: App-logo-spin infinite 25s linear;
    height: 50px;
    /* top:35px; */
    /* position: absolute; */
  }

  .App-logo2{
    margin-top:10px;
    padding-left: 30px;
    height: 50px;
    width: 150px;
  }
  .logo-box {
    background: #52005b; /* Old browsers */
    background: #001b3d; /* Old browsers */
    background: #001b3d; /* Old browsers */
background: -moz-linear-gradient(-45deg, #001b3d 0%, #001da0 31%, #006ff7 60%, #006ff7 83%, #00def7 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #001b3d 0%,#001da0 31%,#006ff7 60%,#006ff7 83%,#00def7 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #001b3d 0%,#001da0 31%,#006ff7 60%,#006ff7 83%,#00def7 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b3d', endColorstr='#00def7',GradientType=1 );
    border-radius: 15px;
    padding: 3px;
    margin: 0 auto;
    width: 90%;
  }
  
  .App-header {
    padding: 20px;
  }
  
  .App-title {
    font-size: 40px;
    font-family: 'Montserrat';
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(deg); }
    to { transform: rotate(360deg); }
  }