.sidenav {
    height: 100%; 
    width: 220px; 
    background-color: #111;
    float:left;
    /* border-right: 1px rgb(240, 191, 35) solid; */
    position: relative;
}

.sidenav a {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-size: 26px;
    color: #f0bf23;
    display: block;
    cursor: pointer;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 300px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.nav-logo{
    width: 70%;
    padding-left:30px;
    position: absolute;
    bottom: 50px;
}
.wellcome-user {
    color: #3cb8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.user-separator {
    margin: 1rem 0;
    border: 1px solid #3cb8ff;
    width: 100%;
}
.logout-btn {
    background: #3cb8ff;
    border: 2px solid #3cb8ff;
    padding: .3rem 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    margin-bottom: 1rem;
}
.logout-btn:hover {
    border: 2px solid #2292d3;
    background: #2292d3;    
}
.logout-btn:hover,
.logout-btn:focus,
.logout-btn:active {
    cursor: pointer;
}
