.div-persons{
    width: 100%;
    height: 100%;
}


.card {    
    position: relative;   
    height: 100%;
    width:100%;
    float: left;
    background-color:#f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 8px;
    text-align: center;
}

.cardImagePlus{    
    padding: 5px;    
    background-color:rgb(127, 211, 94);
    border: 1px solid rgb(34, 189, 224);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size:80px;
    height: 100%;
    width:100%; 
    
}
.cardImagePlus:hover {
    cursor: pointer;
}

.plusElement{
    margin-top:50%;
}

.cardImagePlus:hover {
    background-color: rgb(162, 224, 137);
}
.name {
    color: rgb(142, 142, 142);
}
.title {
    color: grey;
    margin-bottom: 1rem;
}

.button {
    outline: unset;
    border: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: rgb(95, 95, 95);
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 5px;
    font-size: 18px;
}

.button:hover {
    background-color: #fdba2c;
    color: #565656;
}

.avatar{
    height: 240px;
    width: 310px;
}
.avatar:hover {
    cursor: pointer;
}
.icon-menu-user {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
    border-bottom-left-radius: 10%;
    z-index: 99;
}
.card-container {
    position: relative;
}
.card-container:hover div.icon-menu-user {
    background: rgba(0, 0, 0, 0.192);
    opacity: 1;
}
