.report-wrapper {
  width: 96%;  
  border-bottom: 2px solid #ececec;
  margin: 0 auto;
  padding-top: 1rem; 
  padding-bottom: 1rem; 
  box-sizing: border-box;
  padding-left: 1rem; 
  padding-right: 1rem; 
  display: flex;
  justify-content: space-between;
  position: relative;
}
.report-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  background: #3cb8ff;
  height: 0;
  width: 6px;
  transition: height .3s;
}
.report-wrapper:hover::before {
  height: 6px;
}
.report-wrapper:hover {
  border-bottom: 2px solid #3cb8ff; 
  background: #f3f3f3
}
.report-left {
  display: flex;
  flex-direction: column;
}
.report-right {
  display: flex;
  align-items: center;
}
.report-heading {
  color: #3cb8ff;
  margin: 0;
  font-size: 20px;
  margin-bottom: 5px;
}
.report-user {
  color: #909090;
}
.reports-date {
  margin-left: 1rem;
  color: #909090;
  font-size: 18px;
}