.field{
    width: 100%;    
    overflow:hidden;  
    padding: 1rem; 
}
.form-newReport{
    height: 100%;
    overflow-x:hidden;
    overflow-y: auto; 
    display: flex;        
    flex-direction: column; 
    align-items: center;     
    position: relative;
    width: 100%;
}
.addLocation{
    width:300px;    
    padding: 15px;
    background-color: rgb(127, 211, 94);
    color:white;
    font-size:24px;
}
.submit{
    width:400px;
    min-height:50px;
    padding: 5px;
    background-color: rgb(224, 178, 34);
    color:white;
    font-size:24px;
    text-align: center;
    border:none;
}
#mapSearch{
    width:200px;
    text-align: center;  
}
.rowDate{
    flex-direction: column; 
    padding-bottom: 10px;
}
.rowDate input {
    width: 150px;
    height: 15px;
    margin:5px;
    text-align: center;
}
.buttom-costs{
    widows: 91px;
    padding:10px;
}
#date1, #date2{
    text-align: center;
    margin:5px;
}
p{
    font-size:18px;
    padding:3px;
    margin-bottom:0px;
    margin-top:0px;
}
label{
    font-size:14px;
    padding:3px;
    margin-bottom:0px;
}
.close {
    position: absolute;
    top: 0rem;
    right: 2rem;
    font-size: 1rem;
    font-weight:  500;
    color: rgb(224, 178, 34);
    background-color: rgba(128, 128, 128, 0.144);
    padding: 5px 10px;
    transition: all .1s ease-in-out;
    border-radius: 5px;
    text-shadow: 0 0 .5px #333;
}
.close:hover {
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.144);
    cursor: pointer;
    font-size: 1.3rem;
}
.rowEarnings{
    padding:10px;
    flex-direction: column; 
    width:100px;
    padding-top:0px;
}
.box{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
}
.ch1,.ch2,.ch3{
    width:22px;
    padding:3px;
    margin:4px;
}
.drop{
     flex-direction: row;
}
.dropItem{
    flex-direction: column;
    display: flex;
    flex:1;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
}
