.fieldBack{
    /* background-color:rgb(248, 246, 171);  */
    /* height:100%; */
    width: 100%;  
    display: flex;
    padding: .3rem;
    /* -webkit-flex: 1; */
    /* flex: 1; */
    overflow:hidden;
    align-items: baseline;
    justify-content: space-around;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}
.fieldBack-container {   
    width: 100%;    
    overflow:hidden;  
    padding: 1rem; 
}
.fieldTitle {
    color: #a3a3a3;
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: .5rem;
}
.fieldButton {
    padding: 1rem 2.2rem;
    border-radius: 10%;
    position: relative;
    display: flex;    
    align-items: center;    
    justify-content: center;    
    box-sizing: border-box;    
    transition: all 0.1s ease-out;
    box-shadow: 0px 0px 3px #79640b;
    background-color: #f0bf24;
}
.fieldButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px #585858;
}

.fieldPlus {
    position: absolute;
    color: #ffffff;    
    font-size: 1.5rem;
}

.separator {
    width: 90%;
    display: block;
    border-top: .5px solid rgb(240, 191, 35);
}