.App-logo {
    animation: App-logo-spin infinite 25s linear;
    height: 70px;
    /* top:35px; */
    /* position: absolute; */
  }

  .App-logo2{
    margin-top:10px;
    padding-left: 30px;
    height: 70px;
    width: 150px;
  }
  
  .App-header {
    height: 160px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 30px;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(deg); }
    to { transform: rotate(360deg); }
  }