@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.Login{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-left:50px;
    background-image: url("businessTrip.jpg");
    display:flex;
    justify-content: flex-start;
    align-items: center;
}


.form-login {
  border-radius: 20px;
  background: rgba(78, 77, 60, 0.836);
  width: 350px;
  height: 350px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(27, 27, 27, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-login button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: rgb(240, 197, 35);
  width: 70%;
  border: 0;
  margin-top:30px;
  color: rgb(1, 1, 1);
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all 0.3 ease; 
  transition: all 0.3 ease; 
  cursor: pointer;
  height:50px;
}
.form-login button:hover,.form button:active,.form button:focus {
  background: rgb(218, 212, 212);
}
