.table-container, .table-row {
  display: flex;
}
.table-container {
  flex-direction: column;
  border: 1px solid #444;
}
.table-row {
  border: 1px solid #444;
  height: 6rem;
  flex-direction: row;
}
.table-row-2,
.table-row-3,
.table-row-4 {
  border-top: 0;
}
.table-row-1,
.table-row-2,
.table-row-3,
.table-row-4 {
  display: flex;
}
.table-row-1 {
  /* justify-content: space-between; */
}
.row-1,
.row-2,
.row-3,
.row-4 {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
}
.row-1-cell-1,
.row-1-cell-2,
.row-1-cell-3,
.row-1-cell-4,
.row-1-cell-5,
.row-1-cell-6,
.row-1-cell-7 {
  display: flex;
  align-items: center;
}
.row-1-cell-1__text {
  writing-mode: vertical-lr;
  text-orientation: inherit;
  transform: rotate(180deg);
  margin: inherit;
}